a@localhost, a@example are seen as valid email addresses

RFC 2821 (SMTP) specifies that these are not valid:

```ABNF
Domain = (sub-domain 1*("." sub-domain)) / address-literal
```

RFC 2822 (Internet Message Format) specifies that they are valid:

```ABNF
domain          = dot-atom / domain-literal / obs-domain
domain-literal  = [CFWS] "[" *([FWS] dcontent) [FWS] "]" [CFWS]
```

RFC 5321 (SMTP) specifies that they are valid:

```ABNF
Domain  = sub-domain *("." sub-domain)
```

RFC 5322 (Internet Message Format) specifies something that I interpret as being the same as RFC 2822, but also state:

> A liberal syntax for the domain portion of addr-spec is
      given here.  However, the domain portion contains addressing
      information specified by and used in other protocols (e.g.,
      [[RFC1034](https://www.rfc-editor.org/rfc/rfc1034)], [[RFC1035](https://www.rfc-editor.org/rfc/rfc1035)], [[RFC1123](https://www.rfc-editor.org/rfc/rfc1123)], [[RFC5321](https://www.rfc-editor.org/rfc/rfc5321)]).  It is therefore
      incumbent upon implementations to conform to the syntax of
      addresses for the context in which they are used.

```ABNF
addr-spec       =   local-part "@" domain
local-part      =   dot-atom / quoted-string / obs-local-part
domain          =   dot-atom / domain-literal / obs-domain
domain-literal  =   [CFWS] "[" *([FWS] dtext) [FWS] "]" [CFWS]
dtext           =   %d33-90 /          ; Printable US-ASCII
                       %d94-126 /         ;  characters not including
                       obs-dtext          ;  "[", "]", or "\"
```

For clarity, I am unclear on the proper and/or the best way forward. This is creating a problem for me in a customer-facing application, but as an author of ExEmail I don't necessarily want to issue the most expedient solution possible.

If anyone has thoughts or references to more "correct" parsing rules specified in RFCs I'd appreciate comments.